html {
    --candy-cane: 20px;
    --red: #aa253c;
    --dark-red: #310505;
}

body {
    /* background-image: url(/assets/christmas/workshop.jpg);
    background-size: cover;
    background-position: center; */
    background-color: #aa253c;
}

#game-title {
    font-size: xxx-large;
}

#game-subtitle {
    font-size: large;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.mountains-of-christmas-regular {
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
}

.mountains-of-christmas-bold {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
}

.shantell-sans-christmas {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}

/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.page-content {
    padding-bottom: var(--candy-cane);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 177, 183, 0.8);
    color: var(--dark-red)
}

.player-instructions {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.animal-friends {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 30%;
    z-index: 10;
}

.cat-friend {
    width: 222px;
    height: 248px;
}

.cat-friend[data-state="inactive"] svg {
    margin-top: 20px;
}

.cat-friend[data-state="active"] {
    width: 190px;
    margin-right: 0px;
    margin-left: 32px
}

.cat-friend[data-state="active"] svg {
    margin-top: 20px;
}

.dog-friend {
    width: 350px;
    height: 248px;
    display: flex;
    align-items: flex-end;
}

.dog-friend[data-state="active"] svg {
    margin-bottom: -75px;
}

.conveyor-belt {
    background-color: green;
    height: 30px;
    width: 100%;
    position: relative;
}

.element {
    height: 10px;
    width: 10px;
    background-color: #aa253c;
    position: absolute;
}

.candy-cane {
    background: repeating-linear-gradient(30deg,
            var(--red),
            var(--red) 10px,
            white 10px,
            white 20px);
    -webkit-box-shadow: inset 0px 0px 12px 2px rgba(99, 6, 14, .5);
    -moz-box-shadow: inset 0px 0px 12px 2px rgba(99, 6, 14, .5);
    box-shadow: inset 0px 0px 12px 2px rgba(99, 6, 14, .5);
    width: 100%;
    height: var(--candy-cane);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
}