html,
body {
	background: black;
}


.txt {
	font-family: 'Raleway', sans-serif;
	color: white;
	background: black;
	font-size: 35rem;
	text-transform: uppercase;
}


.txt::before {
	color: white;
	content: 'nm';
	position: absolute;
	mix-blend-mode: difference;
	filter: blur(4px);
}


.neon-wrapper {
	filter: brightness(200%);
	height: -webkit-fill-available;
	overflow: hidden;
	height: 60%;
}


.gradient {
	background: linear-gradient(113.83190052944838deg, rgba(244, 72, 105,1) 17.055555555555554%,rgba(159, 1, 234,1) 96.29166666666666%);
	width: 100%;
	height: 65%;
	position: absolute;
	top: 6em;
	left: 0;
	mix-blend-mode: multiply;
}


a {
	color: rgba(159, 1, 234,1);
	font-size: 1.2rem;
	padding-bottom: 1rem;
}

a:focus,
a:hover {
	color: rgba(244, 72, 105,1);
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(159, 1, 234,1);
}