/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html,
body {
	background: black;
}


.txt {
	font-family: 'Nunito', sans-serif;
	color: white;
	background: black;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.txt::before {
	color: black;
	content: 'nm';
	position: absolute;
	filter: blur(10px);
}


.neon-wrapper {
	filter: brightness(200%);
	height: -webkit-fill-available;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}


.gradient {
	background: linear-gradient(113.83190052944838deg, rgba(244, 72, 105,1) 17.055555555555554%,rgba(159, 1, 234,1) 96.29166666666666%);
	position: absolute;
	left: 0;
	mix-blend-mode: multiply;
	right:  0;
	top: 0;
	bottom: 0;
}


a {
	color: rgba(159, 1, 234,1);
	font-size: 1.2rem;
	padding-bottom: 1rem;
}

a:focus,
a:hover {
	color: rgba(244, 72, 105,1);
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(159, 1, 234,1);
}

.logo {
    max-width: 50px;
    max-height: 50px;
}

.logo svg {
    fill: white;
}

@media (max-width: 800px) {
	.txt {
		font-size: 60vw;
	}
}

@media (min-width: 801px) {
	.txt {
		font-size: 50vw;
	}
}

