.construction-banner {
    background: repeating-linear-gradient(
        45deg,
        red,
        red 10px,
        white 10px,
        white 20px
    );
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.construction-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-shadow: none;
    background-color: white;
    margin-top: 8px;
}