{% extends 'base.html' %}
{% set title = "Fennel Apple Salad" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "1 Fennel",
        "1 Apple",
        "Some cabbage or kale",
        "1 part sherry vinegar",
        "1 part olive oil",
        "Tiny bit of mustard",
        "Honey or sugar",
        "Salt",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Thinnly slice fennel, apple and cabbage. Whisk the dressing components together and put on the salad.",
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}