{% extends 'base.html' %}
{% set title = "Mint Jalapeño Salsa" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
            "3 Jalapeños",
            "2 tsp. Sugar",
            "Salt",
            "1 C mint",
            "1/2 C cilantro",
            "1/2 C lime juice"
    ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Blend everything until blended. Add more salt if you want.",
    ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
