{% extends 'base.html' %}
{% set title = "" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "1 onion",
        "4 celery stalks, thickly sliced",
        "5 medium carrots, thickly sliced",
        "2 cartons (8 cups) chicken stock",
        "4 cloves garlic, smashed",
        "1 bay leaf",
        "3 sprigs flat-leaf parsley",
        "3-4 pound whole chicken or equal amount breast meat",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Put the chicken in a pot with the chicken stock and bay leaf, bring to a boil then reduce to a simmer until the chicken is cooked. Pull the chicken apart or chop into pieces. Return to broth. ~15 minutes or until chicken reaches 165",
        "Sautee the onions in a bit of olive oil until translucent and starting to brown, then add garlic",
        "Add the carrots and celery to the onions, increase heat to high and when hot, add white wine",
        "Add the veggies to the stock with the chicken, pouring some liquid from the chicken pot into the pan to get all the bits."
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
