{% extends 'base.html' %}
{% set title = "Pasta Ragu" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "2 1/2 pounds beef chuck, steak or chunks",
        "1 medium yellow onion",
        "3-4 carrots",
        "1 celery stalk",
        "3-6 cloves garlic",
        "4 tbsp tomato paste",
        "1 1/2 cups dry red wine <a href='https://www.vivino.com/US-NY/en/chateau-de-pitray-premier-vin/w/1703662'>Like this one</a>",
        "14 oz tomatos: <a href='https://www.pomi.us.com/en-us/products/food-service/chopped-tomatoes-1500/52-91/'>Pomi chopped tomatos</a>",
        "Beef stock - just a splash if too dry"
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Brown the beef chunks in a hot pan until a nice crust forms on two sides. Once browned remove from the pan and set aside.",
        "Add in the chopped carrots, onions, celery and garlic. Sautee for a while until onions are translucent, about 2-3 minutes.",
        "Move the veggies to one side of the pan, add some oil to the empty side and put the tomato paste in the oil. Cook the tomato paste away from the veggies for at least a minute. Then mix everything together and allow to cook until some crusty bits form at the bottom of the pan.",
        "Turn the heat up and then add the wine. Leave it to simmer/boil for a bit then stir. Once the wine is reduced add in the tomatoes (about half the container). Taste and season with salt and pepper.",
        "Add the beef back to the pan and top up with beef stock if needed. Transfer to the oven at 300 for at least 3 hours up to 4.",
        "Once cooked mash everything together and serve over parpadelle."
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
