{% extends 'base.html' %}
{% set title = "Spiced Glazed Turkey" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "1 12–14-lb. turkey, neck and giblets removed",
        "2 tbsp whole black peppercorns",
        "2 tbsp whole pink or black peppercorns",
        "½ cup Diamond Crystal or ¼ cup plus 1½ tsp. Morton kosher salt",
        "2 tbsp garlic powder",
        "2 tbsp onion powder",
        "1 tbsp light brown sugar",
        "1 tbsp smoked paprika",
        "Small handful of hardy herbs (such as sage, rosemary, bay leaves, and/or thyme)",
        "4 garlic cloves, crushed",
        '2 2x1" strips orange zest',
        "⅓ cup low-sodium soy sauce",
        "⅓ cup (packed) light brown sugar",
        "⅓ cup sherry vinegar or red wine vinegar",
        "6 tbsp neutral oil (such as vegetable, peanut, or canola)",
        "A spice mill",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "<b>Turkey</b>",
        "Place turkey, breast side up, on a cutting board and pat dry. Grip a wing and pull it outward so you can see where it attaches to the body. Using a sharp boning or chef’s knife, cut though the joint to separate the wing from the breast (if you hit bone, you’re in the wrong spot; pull the wing out farther to help you get into the place where the joint meets the socket). Remove wing; repeat on the other side.",
        "Cut through skin connecting 1 leg to carcass. Pull leg back until the ball joint pops out of its socket; cut through the joint to separate leg. Repeat on the other side.",
        "Now for the breast: Position the turkey breast side down with the opening facing you. Using kitchen shears, cut along one side of backbone until you get all the way through the neck end, then turn the turkey 180° and cut through the other side to remove the backbone (save it for making stock).",
        "Very finely grind black and pink peppercorns in a spice mill or mortar and pestle; transfer to a medium bowl. Add salt, garlic powder, onion powder, brown sugar, and paprika and use your fingers to mix together.",
        "Place turkey pieces, skin side up, on a wire rack set inside a rimmed baking sheet. Sprinkle salt mixture liberally all over turkey, patting to adhere. You may not need all of it, but it’s good to have extra since some will end up on the baking sheet. Chill bird, uncovered, at least 24 hours and up to 2 days.",
        "<b>Glaze and Assembly</b>",
        "Remove turkey from wire rack and rinse baking sheet and rack if needed (turkey will most likely release some liquid). Line baking sheet with 3 layers of foil to make cleanup easy and set rack back inside. Arrange turkey pieces on rack, skin side up, and let sit at room temperature 2–3 hours to help decrease the cooking time.",
        "Meanwhile, cook herbs, garlic, orange zest, soy sauce, brown sugar, and vinegar in a small saucepan over medium heat, stirring occasionally, until sugar is dissolved and glaze thickens slightly (it should just barely coat a spoon), 10–12 minutes. Remove glaze from heat.",
        "Place a rack in middle of oven; preheat to 425°. Rub turkey with oil and pour 1 cup water into baking sheet. Roast turkey, rotating baking sheet halfway through, until skin is mostly golden brown, 20–25 minutes. Reduce oven temperature to 300° and continue to roast turkey, brushing with glaze every 20 minutes and adding more water by ½-cupfuls as needed to maintain some liquid in baking sheet, until an instant-read thermometer inserted into the thickest part of breast registers 150°, and 170° when inserted into the thickest part of the thighs, 50–70 minutes longer (total cooking time will be 1–1½ hours). Skin should be deep golden brown and shiny. Transfer turkey to a cutting board; tent loosely with foil. Let rest 30–60 minutes before carving.",
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
