{% extends 'base.html' %}
{% block title %}Grilled Flatbread{% endblock %}
{% block heading %}Grilled Flatbread{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        '3 cups bread or all-purpose flour',
        '1 teaspoon salt',
        '1 teaspoon instant yeast',
        '1¼ cups warm water',
        '¼ cup extra-virgin olive oil, plus more for brushing',
        'Flaky salt, for finishing',
        '4 cloves of garlic, minced',
        'a large sprig of herbs like rosemary or parsley, chopped',
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        'In a large bowl (regular or the bowl of a stand mixer,) stir together the flour, salt and yeast.
        Made a well in the middle of the bowl and add the warm water and oil.',
        'Stir together until the mixture forms a shaggy mass. If using a stand mixer, use the dough hook and and mix on low speed for 3-4 minutes.
        If mixing by hand, turn dough onto a lightly floured surface and knead until the dough is soft and smooth, 6-8 minutes. (If dough feels sticky sprinkle on additional flour.)
        Transfer the kneaded dough into a lightly oiled bowl, cover with a clean towel, and let proof for 30-60 minutes, until almost doubled in volume.
        Preheat your grill, (or you could use a grill pan).',
        "Divide the dough into 4 even pieces with oiled hands. Smush a clove of minced garlic into each round. Make sure the dough is covered with oil on both sides.
        When the grill is ready, place the dough rounds onto the grate with the garlic side up. (They can lose shape a bit, it's Ok if they aren't perfect.)
        Grill for 3-4 mins per side, checking to make sure the bottom is golden before flipping.",
        'When done, brush with olive oil and sprinkle with flakey sea salt and fresh herbs.',
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
