{% extends 'base.html' %}
{% set title = "Zucchini Bread" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
            "2 cups (~ two zuccs) grated, packed zucchini, not wrung out, grated on the large holes of a box grater",
            "2 large eggs",
            "2/3 cup (160 ml) of a neutral oil (I use safflower), olive oil, or melted unsalted butter",
            "1/2 cup (95 grams) packed dark brown sugar",
            "1/2 cup (100 grams) granulated sugar",
            "1 teaspoon vanilla extract",
            "1 teaspoon fine sea or table salt",
            "1 1/4 teaspoons ground cinnamon",
            "1/8 teaspoon ground or freshly grated nutmeg (optional)",
            "3/4 teaspoon baking soda",
            "1/2 teaspoon baking powder",
            "2 cups (260 grams) all-purpose flour",
            "2 tablespoons (25 grams) raw or turbinado sugar",
            "Roasted pecans or walnuts for topping."
    ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "350 degrees F, oil a bread pan (loaf is better than muffins).",
        "Zucchini, egg, oil, sugars, vanilla and salt go together.",
        "Whisk flour, cinnamon, nutmeg, baking soda, baking powder together.",
        "wets + drys.",
        "Batter in pan, then top with nuts and make sure nuts are covered with batter so they don't burn. Sprinkle sugar on top for crunchy sugar crust.",
        "Oven for 60 mins.",
        "Actually wait for it to cool before removing from pan."
    ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
