{% extends 'base.html' %}
{% set title = "Thanksgiving Apple Pie" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "DOUGH",
        "3½ cups all-purpose flour",
        "2 Tbsp. granulated sugar",
        "1½ tsp. kosher salt",
        "3 sticks chilled unsalted butter, cut into pieces",
        "2 Tbsp. apple cider vinegar",
        "½ cup ice water",
        "FILLING",
        "4 lb. Pink Lady, Honeycrips or other firm, sweet-tart apples, peeled, cored, thinly sliced",
        "⅓ cup (packed) dark brown sugar",
        "¼ cup granulated sugar",
        "2 Tbsp. fresh lemon juice",
        "2 tsp. ground cinnamon",
        "½ tsp. kosher salt",
        "¼ tsp. ground allspice",
        "¼ tsp. ground cardamom",
        "1½ cups APPLE CIDER or APPLE JUICE",
        "2 tsp. vanilla extract or paste",
        "2 Tbsp. cornstarch",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Bakes at 375° for 1½-2 hours.",
        "Mix butter into flour leaving some butter sheets. Combine vinegar and ½ cup ice water in a small bowl and drizzle over flour mixture, mixing with a fork to combine.",
        "Working with half of the dough, press into a single mass, incorporating dry bits, then pat down to make a ¾\"-thick square. Using a bench scraper or knife, divide dough into 4 pieces. Stack pieces on top of one another, placing any unincorporated dry bits in between layers, and press down to combine. Form dough into a ¾\"-thick disk and wrap tightly in plastic. Repeat with remaining dough. Chill at least 2 hours.",
        "Toss apples with brown sugar, granulated sugar, lemon juice, cinnamon, salt, allspice, and cardamom in a large bowl to coat. Let apples sit until they start to release their juices, at least 1 hour and up to 3 hours.",
        "Place apple cider in a medium saucepan and scrape in seeds from vanilla bean; add pod. Bring to a boil and cook, whisking occasionally, until reduced by two-thirds. Pour off juices that have accumulated in bowl of apples and add to apple cider. Return to a boil and cook until reduced to about ½ cup; remove vanilla pod. Stir cornstarch into 3 Tbsp. water in a small bowl to dissolve, then whisk into apple cider. Cook, whisking constantly, until cider mixture is very thick and bubbling, about 1 minute. Let cool slightly, then scrape over apples; toss to coat.",
        "Carefully transfer dough round to pie dish. Lift up edges and allow dough to slump down into dish (if too cold to be pliable, let it warm up slightly first). Press dough firmly against sides and bottom of plate. Trim, leaving about 1\" overhang. Beat egg with 1 tsp. water in a small bowl and brush over edges of dough. Scrape in apple filling, creating a mound in the center; dot filling with butter. Place remaining dough round over filling. Trim edges of top round, leaving a ½\" overhang. Fold edge of bottom round up and over; press together to seal. Crimp edge and brush top with remaining egg wash. Sprinkle with demerara sugar and use a sharp knife to cut a few vents in top. Place pie on a foil-lined rimmed baking sheet and chill in freezer 10 minutes. Preheat oven to 375°.",
        "Bake pie until crust is deep golden brown and juices are thick and bubbling, 1½-2 hours (yes: 2 hours!). Transfer pie to a wire rack and let cool at least 4 hours before serving."
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
