{% extends 'base.html' %}
{% set title = "Brownie-in-a-Mug" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "1/4 cup (30 g) flour",
        "1/4 cup (50 g) sugar",
        "2 tablespoons (13 g) cocoa (natural, unsweetened)",
        "pinch of salt",
        "tiny pinch of cinnamon",
        "1/4 cup (60 ml) water",
        "2 tablespoons (30 ml) melted butter, or neutral oil",
        "1/8 teaspoon vanilla extract",
        "1 small scoop of ice cream to serve",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
"Place flour, sugar, cocoa, salt, and cinnamon in a microwave safe ceramic mug. Stir with a fork or spoon to mix well and break up any clumps. Add the butter or oil, water, and vanilla to the cup and stir until the mixture is smooth and there are no lumps. Place in microwave and heat on high until the mixture is cooked through, about a 1 minute and 40 seconds for a 1000 watt microwave, or 1 minute 10 seconds on a 1650 watt microwave. You may have to experiment and adjust the time for less or more powerful microwaves. If you don't know the power level on your microwave, start with 60 seconds and increase until the brownie is done. It should still be moist when cooked through, not dry. Top with ice cream! Let cool for a minute and serve with a scoop of vanilla ice cream or a teaspoon or two of whipping cream poured over."
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}