{% extends 'base.html' %}
{% set title = "Master Composter Cookies" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
            "225g (16 tablespoons) butter at room temperature",
            "200g (1 cup) granulated sugar",
            "150g (2/3 cup tightly packed) light brown sugar",
            "50g (2 tbs) glucose",
            "1 egg",
            "2g (1/2 tsp) vanilla extract",
            "225g (1 1/3 cups) flour",
            "2g (1/2 tsp) baking powder",
            "1.5g (1/4 tsp) baking soda",
            "4g (1 tsp) kosher salt",
            "150g (3/4 cup) mini chocolate chips",
            "100g (1/2 cup) mini butterscotch chips (optional)",
            "1/2 cup graham crust/ crushed graham crackers",
            "40g (1/3 cup) old-fashioned rolled oats",
            "50g (2 cups) potato chips (Cape Cod)",
            "50g (1 cup) mini pretzels",
    ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Stand mixer the butter, sugars, glucose. Then add egg and vanilla, mix 8 minutes.",
        "Whisk flour, baking powder, baking soda, salt - slowly add to mixer on low until combined.",
        "Add the chocolate chips, other chips and graham crakers first, then gently add chips and pretzels so they don't break up too much.",
        "Portion cookies onto sheet pan, squish flat a bit. Fridge for 1 hour up to 1 week.",
        "Bake directly from fridge.",
        "375 F 18 minutes, until brown edges."
    ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
