{% extends 'base.html' %}
{% set title = "Oatmeal Cookies" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "1 cup (5 ounces) all-purpose flour",
        "¾ teaspoon salt",
        "½ teaspoon baking soda",
        "4 tablespoons unsalted butter",
        "¼ teaspoon ground cinnamon",
        "¾ cup (5¼ ounces) dark brown sugar",
        "½ cup (3½ ounces) granulated sugar",
        "½ cup Vegetable oil",
        "1 large egg plus 1 large yolk",
        "1 teaspoon vanilla extract",
        "3 cups (9 ounces) old-fashioned rolled oats",
        "½ cup chocolate chips",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Adjust oven rack to middle position and heat oven to 375 degrees. Line 2 rimmed baking sheets with parchment paper. Whisk flour, salt, and baking soda together in medium bowl; set aside.",
        "(The butter is optional) Melt butter in 8-inch skillet over medium-high heat, swirling pan occasionally, until foaming subsides. Continue to cook, stirring and scraping bottom of pan with heat-resistant spatula, until milk solids are dark golden brown and butter has nutty aroma, 1 to 2 minutes. Immediately transfer browned butter to large heatproof bowl, scraping skillet with spatula. Stir in cinnamon.",
        "Add brown sugar, granulated sugar, and oil to bowl with butter and whisk until combined. Add egg and yolk and vanilla and whisk until mixture is smooth. Using wooden spoon or spatula, stir in flour mixture until fully combined, about 1 minute. Add oats and raisins, if using, and stir until evenly distributed (mixture will be stiff).",
        "Divide dough into 20 portions, each about 3 tablespoons (or use #24 cookie scoop). Arrange dough balls 2 inches apart on prepared sheets, 10 dough balls per sheet. Using your damp hand, press each ball into 2½-inch disk.",
        "Bake, 1 sheet at a time, until cookie edges are set and lightly browned and centers are still soft but not wet, 8 to 10 minutes, rotating sheet halfway through baking. Let cookies cool on sheet on wire rack for 5 minutes; using wide metal spatula, transfer cookies to wire rack and let cool completely.",
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
