{% extends 'base.html' %}
{% set title = "Peanut Butter Cookies" %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{title}}{% endblock %}
{% block ingredients %}
    {% for ingredient in [
        "1 cup creamy peanut butter",
        "½ cup butter (softened)",
        "½ cup white sugar",
        "½ cup brown sugar",
        "1 egg",
        "1 tablespoon vanilla extract",
        "1½ cups flour",
        "1 teaspoon baking soda",
        "¼ teaspoon salt",
        ] %}
        <li>{{ingredient}}</li>
    {% endfor %}
{% endblock %}
{% block instructions %}
    {% for p in [
        "Preheat the oven to 350 F. Line 2 baking pans with parchment paper.",
        "In a large mixing bowl, cream together the peanut butter, butter, sugar and brown sugar. Beat together until smooth & creamy best if using a stand mixer or hand mixer. Add the egg and vanilla extract and continue to mix until well combined.",
        "In a small mixing bowl, whisk together the flour, baking soda, and salt. Stir in the flour mixture to the butter and sugar mixture and mix until well combined.",
        "Use a cookie dough scoop, or spoon the dough into 1 inch balls. Roll in white granulated sugar if you desire and place onto baking sheet. Using a fork, press down on each ball of dough to flatten, creating a criss-cross pattern.",
        "Bake for 8-9 minutes. Do not over bake. Let cool on the baking sheet for a few minutes and then transfer to a wire rack.",
        ] %}
        <p>{{p}}</p>
    {% endfor %}
{% endblock %}
